a {
    color: white;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}


h3 {
    text-decoration: underline;
}

b {
    text-decoration: underline;
}

.quote{
    font-style: italic;
}
